body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    font-family: "Fira Sans", sans-serif;

    overflow-x: hidden;
}

.main {
    flex-grow: 1;
    overflow-x: hidden;
}

.fancybox-wheel {
    .fancybox__content {
        background: none;
        padding: 0 285px 0 0;

        & > .f-button.is-close-btn {
            top: 5px;
            right: 5px;
            width: 40px;
            height: 40px;
            color: #B11706;
        }
    }
}

@media (max-width: 1280px) {
    .fancybox-wheel {
        .fancybox__content {
            padding: 2px;
        }
    }
}
